body{
	background: #282826;
	color: white;
	width: 794px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content{
	box-sizing: border-box;
	width:158.8px ;
	padding:0 18px;
	height: 162px;
	display: flex;
	flex-direction: column;
}
.text{
	font-size: 5px;
	align-content: center;
}
.box{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}